﻿
@model UdemyTrainingMicroservice.Models.Accounts.ConfirmModel

<div class="row">
	<div class="col-md-4">
		<form method="post" asp-controller="Accounts" asp-action="Confirm">
			<div asp-validation-summary="All" class="text-danger">

			</div>

			<div class="form-group">
				<label asp-for="Email"></label>
				<input asp-for="Email"/>
				<span asp-validation-for="Email" class="text-danger"/>
			</div>
			
			<div class="form-group">
				<label asp-for="Code"></label>
				<input asp-for="Code" />
				<span asp-validation-for="Code" class="text-danger"></span>
			</div>
			
			<button type="submit">Confirm</button>
		</form>
	</div>
</div>

