﻿
@{
    ViewData["Title"] = "SignUp";
}

@model UdemyTrainingMicroservice.Models.Accounts.SignUpModel;

<div class="row">
	<div class="col-md-4">
		<form method="post" asp-controller="Accounts" asp-action="SignUp">
			<h4>Create a new account</h4>
			<div asp-validation-summary="All" class="text-danger">

			</div>

			<div class="form-group">
				<label asp-for="Email"></label>
				<input asp-for="Email" class="form-control"/>
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="Password"></label>
				<input asp-for="Password" class="form-control"/>
				<span asp-validation-for="Password" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="ConfirmPassword"></label>
				<input asp-for="ConfirmPassword" class="form-control"/>
				<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
			</div>

			<button type="submit">SignUp</button>
		</form>
	</div>
</div>

<h1>SignUp to use advert microservice</h1>

