﻿@using Newtonsoft.Json.Linq
@model UdemyTrainingMicroservice.Models.Accounts.SignInModel

<div class="row">
	<div class="col-md-4">
		<h4>Login using your email address and password</h4>
		<h5>
			<a asp-controller="Accounts" asp-action="SignUp">If you are not a member you can sign up here</a>
		</h5>
		<hr/>
		
		<form method="post" asp-controller="Accounts" asp-action="SignIn">
			<div asp-validation-summary="All" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Email"></label>
				<input asp-for="Email" class="form-control"/>
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>
			
			<div class="form-group">
				<label asp-for="Password"></label>
				<input asp-for="Password" class="form-control"/>
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>
			
			<div class="form-group">
				<div class="custom-checkbox">
					<label asp-for="RememberMe"></label>
					<input asp-for="RememberMe"/>
				</div>
			</div>
			
			<button type="submit">SignIn</button>
		</form>
	</div>
</div>